@import "tailwindcss";

@theme {
  /* Colors */
  --color-teal: #50C9B4;
  --color-teal: oklch(0.7621 0.1122 179.72);
  --color-warm-coral: #F2685E;
  --color-warm-coral: oklch(0.6864 0.1721 26.7);
  --color-muted-brick-red: #C24D53;
  --color-muted-brick-red: oklch(0.5766 0.1502 20.08);
  --color-deep-black: #000000;
  --color-deep-black: oklch(0 0 0);
  --color-retro-teal: #4D7A7F;
  --color-retro-teal: oklch(0.5489 0.0499 204.73);
  --color-soft-cream: #EFE5D5;
  --color-soft-cream: oklch(0.9255 0.024 79.74);
  --color-charcoal-gray: #4E5664;
  --color-charcoal-gray: oklch(0.4514 0.0251 261.67);
  --color-marigold-yellow: #EAA221;
  --color-marigold-yellow: oklch(0.7636 0.1533 75.16);

  /* Spacing */
  --spacing-20: 10px;
  --spacing-30: 20px;
  --spacing-40: 30px;
  --spacing-50: clamp(30px, 5vw, 50px);
  --spacing-60: clamp(30px, 7vw, 70px);
  --spacing-70: clamp(50px, 7vw, 90px);
  --spacing-80: clamp(70px, 10vw, 140px);

  /* Alignment */
  --wide: 1280px;
  --narrow: 645px;
  
  /* Typography */
  --font-sans: var(--roboto), sans-serif;
  --font-cursive: var(--caveat), cursive;
}

/* Base Layer: Foundational styles */
@layer base {
  body {
    @apply bg-soft-cream text-charcoal-gray font-sans text-base;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-deep-black font-bold;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-5xl;
  }

  h4 {
    @apply text-4xl;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-base;
  }
}

/* Components Layer: Reusable UI components */
@layer components {
  .entry-content > .alignfull {
    @apply !mx-0 w-full;
  }
  
  .entry-content > *:not(.alignfull) {
    @apply !mx-auto px-4 max-w-[var(--narrow)];
  }

  .wp-block-column[style*=flex-basis] {
    @apply flex-grow-0;
  }

  .flex {
    @apply gap-5;
  }

  .flow > * {
    @apply my-5;
  }

  .flow > *:first-child {
    @apply mt-0;
  }

  .flow > *:last-child {
    @apply mb-0;
  }
}

/* Utilities Layer: Custom utility classes */
@layer utilities {
  .is-dark {
    @apply text-soft-cream;
  }

  .is-light {
    @apply text-deep-black;
  }

  /* Spacing */
  .spacing-20 { padding: var(--spacing-20); }
  .spacing-30 { padding: var(--spacing-30); }
  .spacing-40 { padding: var(--spacing-40); }
  .spacing-50 { padding: var(--spacing-50); }
  .spacing-60 { padding: var(--spacing-60); }
  .spacing-70 { padding: var(--spacing-70); }
  .spacing-80 { padding: var(--spacing-80); }

  /* Alignment */
  .alignfull {
    @apply mx-0 w-full;
  }

  .alignwide {
    @apply mx-auto px-4 w-full max-w-[var(--wide)];
  }

  .alignleft {
    @apply float-left mr-4
  }

  .alignright {
    @apply float-right ml-4;
  }
  
  .aligncenter {
    @apply mx-auto;
  }
}