@import "tailwindcss";

@theme {
  /* Alignment */
  --wide: min(calc(100% - 2rem), 1280px);
  --narrow: min(calc(100% - 2rem), 850px);
  
  /* Typography */
  --font-sans: var(--roboto), sans-serif;
  --font-cursive: var(--caveat), cursive;

  /* Colors */
  --color-teal: #50C9B4;
  --color-teal: oklch(0.7621 0.1122 179.72);
  --color-warm-coral: #F2685E;
  --color-warm-coral: oklch(0.6864 0.1721 26.7);
  --color-muted-brick-red: #C24D53;
  --color-muted-brick-red: oklch(0.5766 0.1502 20.08);
  --color-deep-black: #000000;
  --color-deep-black: oklch(0 0 0);
  --color-retro-teal: #4D7A7F;
  --color-retro-teal: oklch(0.5489 0.0499 204.73);
  --color-soft-cream: #EFE5D5;
  --color-soft-cream: oklch(0.9255 0.024 79.74);
  --color-charcoal-gray: #4E5664;
  --color-charcoal-gray: oklch(0.4514 0.0251 261.67);
  --color-marigold-yellow: #EAA221;
  --color-marigold-yellow: oklch(0.7636 0.1533 75.16);
}

/* Base Layer: Foundational styles */
@layer base {
  body {
    @apply bg-soft-cream text-charcoal-gray font-sans;
    font-size: 16px;
    line-height: 1.6;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-cursive text-deep-black font-bold;
  }
}

/* Components Layer: Reusable UI components */
@layer components {
  .entry-content {
    *:not(.alignfull) {
      @apply mx-auto max-w-[var(--narrow)];
    }

    .alignwide {
      @apply max-w-[var(--wide)];
    }

    .alignfull {
      @apply mx-0 w-full;
    }

    .alignleft {
      @apply float-left mr-4
    }
    .alignright {
      @apply float-right ml-4;
    }
    .aligncenter {
      @apply mx-auto;
    }
  }
}

/* Utilities Layer: Custom utility classes */
@layer utilities {
  
}