@import "tailwindcss";

@theme {
  /* Colors */
  --color-teal: #50C9B4;
  --color-teal: oklch(0.7621 0.1122 179.72);
  --color-warm-coral: #F2685E;
  --color-warm-coral: oklch(0.6864 0.1721 26.7);
  --color-muted-brick-red: #C24D53;
  --color-muted-brick-red: oklch(0.5766 0.1502 20.08);
  --color-deep-black: #000000;
  --color-deep-black: oklch(0 0 0);
  --color-retro-teal: #4D7A7F;
  --color-retro-teal: oklch(0.5489 0.0499 204.73);
  --color-soft-cream: #EFE5D5;
  --color-soft-cream: oklch(0.9255 0.024 79.74);
  --color-charcoal-gray: #4E5664;
  --color-charcoal-gray: oklch(0.4514 0.0251 261.67);
  --color-marigold-yellow: #EAA221;
  --color-marigold-yellow: oklch(0.7636 0.1533 75.16);

  /* Spacing */
  --spacing-20: 10px;
  --spacing-30: 20px;
  --spacing-40: 30px;
  --spacing-50: clamp(30px, 5vw, 50px);
  --spacing-60: clamp(30px, 7vw, 70px);
  --spacing-70: clamp(50px, 7vw, 90px);
  --spacing-80: clamp(70px, 10vw, 140px);

  /* Alignment */
  --wide: 1280px;
  --narrow: 645px;
  
  /* Typography */
  --font-sans: var(--roboto), sans-serif;
  --font-cursive: var(--caveat), cursive;
}

/* Base Layer: Foundational styles */
@layer base {
  body {
    @apply bg-soft-cream text-charcoal-gray font-sans text-base;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-deep-black font-bold;
  }

  h1 {
    @apply text-7xl;
  }

  h2 {
    @apply text-6xl;
  }

  h3 {
    @apply text-5xl;
  }

  h4 {
    @apply text-4xl;
  }

  h5 {
    @apply text-sm;
  }

  h6 {
    @apply text-base;
  }
}

/* Components Layer: Reusable UI components */
@layer components {
  .entry-content > .alignfull {
    @apply !mx-0 w-full;
  }
  
  .entry-content > *:not(.alignfull) {
    @apply !mx-auto px-4 max-w-[var(--narrow)];
  }

  .wp-block-cover__image-background {
    @apply object-cover;
  }

  .wp-block-columns {
    @apply flex flex-wrap;
  }

  .wp-block-column {
    @apply flex-1;
  }
}

/* Utilities Layer: Custom utility classes */
@layer utilities {
  /* Colors */
  .has-teal-background-color { @apply bg-teal; }
  .has-text-color-teal { @apply text-teal; }
  .has-teal-border-color { @apply border-teal; }

  .has-warm-coral-background-color { @apply bg-warm-coral; }
  .has-text-color-warm-coral { @apply text-warm-coral; }
  .has-warm-coral-border-color { @apply border-warm-coral; }

  .has-muted-brick-red-background-color { @apply bg-muted-brick-red; }
  .has-text-color-muted-brick-red { @apply text-muted-brick-red; }
  .has-muted-brick-red-border-color { @apply border-muted-brick-red; }

  .has-deep-black-background-color { @apply bg-deep-black; }
  .has-text-color-deep-black { @apply text-deep-black; }
  .has-deep-black-border-color { @apply border-deep-black; }

  .has-retro-teal-background-color { @apply bg-retro-teal; }
  .has-text-color-retro-teal { @apply text-retro-teal; }
  .has-retro-teal-border-color { @apply border-retro-teal; }

  .has-soft-cream-background-color { @apply bg-soft-cream; }
  .has-text-color-soft-cream { @apply text-soft-cream; }
  .has-soft-cream-border-color { @apply border-soft-cream; }

  .has-charcoal-gray-background-color { @apply bg-charcoal-gray; }
  .has-text-color-charcoal-gray { @apply text-charcoal-gray; }
  .has-charcoal-gray-border-color { @apply border-charcoal-gray; }

  .has-marigold-yellow-background-color { @apply bg-marigold-yellow; }
  .has-text-color-marigold-yellow { @apply text-marigold-yellow; }
  .has-marigold-yellow-border-color { @apply border-marigold-yellow; }

  .is-dark {
    @apply text-soft-cream;
  }

  .is-light {
    @apply text-deep-black;
  }

  /* Spacing */
  .spacing-20 { padding: var(--spacing-20); }
  .spacing-30 { padding: var(--spacing-30); }
  .spacing-40 { padding: var(--spacing-40); }
  .spacing-50 { padding: var(--spacing-50); }
  .spacing-60 { padding: var(--spacing-60); }
  .spacing-70 { padding: var(--spacing-70); }
  .spacing-80 { padding: var(--spacing-80); }

  /* Font-size */
  .has-xs-font-size { @apply text-xs; }
  .has-sm-font-size { @apply text-sm; }
  .has-md-font-size { @apply text-base; }
  .has-lg-font-size { @apply text-lg; }
  .has-xl-font-size { @apply text-xl; }
  .has-2xl-font-size { @apply text-2xl; }
  .has-3xl-font-size { @apply text-3xl; }
  .has-4xl-font-size { @apply text-4xl; }
  .has-5xl-font-size { @apply text-5xl; }
  .has-6xl-font-size { @apply text-6xl; }
  .has-7xl-font-size { @apply text-7xl; }
  .has-8xl-font-size { @apply text-8xl; }
  .has-9xl-font-size { @apply text-9xl; }

  /* Alignment */
  .alignfull {
    @apply mx-0 w-full;
  }

  .alignwide {
    @apply mx-auto px-4 w-full max-w-[var(--wide)];
  }

  .alignleft {
    @apply float-left mr-4
  }

  .alignright {
    @apply float-right ml-4;
  }
  
  .aligncenter {
    @apply mx-auto;
  }
}