# MacOS specific files
.DS_Store

# Dependencies
node_modules/

# Composer specific files
vendor/

# Environment files
.env
.env*.local

# Build outputs
dist/
build/
.next/

# WordPress specific files
wp-config.php

# Ignore log files
*.log