<!-- wp:template-part {"slug":"header-absolute","theme":"wonderjarcreative-backend"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull"><!-- wp:cover {"overlayColor":"teal","isUserOverlayColor":true,"minHeight":70,"minHeightUnit":"vh","isDark":false,"metadata":{"categories":["banner","hero"],"patternName":"wonderjarcreative-backend/hero-page","name":"Hero Page"},"align":"full","className":"dot-pattern","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"},"margin":{"bottom":"var:preset|spacing|70"}}}} -->
<div class="wp-block-cover alignfull is-light dot-pattern" style="margin-bottom:var(--wp--preset--spacing--70);padding-top:var(--wp--preset--spacing--70);padding-bottom:var(--wp--preset--spacing--70);min-height:70vh"><span aria-hidden="true" class="wp-block-cover__background has-teal-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:heading {"textAlign":"center","level":1,"placeholder":"Enter title in Hero meta box","metadata":{"bindings":{"content":{"source":"wonderjarcreative-backend/post-meta","args":{"key":"hero_title"}}}},"align":"wide","className":"text-3xl md:text-5xl lg:text-7xl","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|40"}}}} -->
<h1 class="wp-block-heading alignwide has-text-align-center text-3xl md:text-5xl lg:text-7xl" style="margin-bottom:var(--wp--preset--spacing--40)">Fallback hero title</h1>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center","placeholder":"Enter description in Hero meta box","metadata":{"bindings":{"content":{"source":"wonderjarcreative-backend/post-meta","args":{"key":"hero_description"}}}},"className":"text-lg md:text-xl"} -->
<p class="has-text-align-center text-lg md:text-xl">Fallback hero description.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"wonderjarcreative-backend"} /-->